@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Changa+One:ital@0;1&family=Share+Tech+Mono&family=Signika:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
  color: #e8e8e8;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

body {
  background-color: #1d1d1d;
}
